:root {
  --navbar-height: 64px;
  --navbar-height-mobile: 56px;
  --appbar-title-font-size: 24px;
}

.nav-wrapper {
  height: 100%;
  background-color: var(--md-sys-color-surface);
  padding-left: 4px;
  padding-right: 4px;
  display: flex;
  align-items: center;
}

.navbar {
  color: var(--md-sys-color-on-surface);
  height: var(--navbar-height-mobile);
}

.navbar  ul:not(.dropdown-content) {
  list-style-type: none;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 1em;
}

.navbar  ul:not(.dropdown-content) > li {
  transition: background-color 0.3s;
  padding: 0;
}

.navbar  ul:not(.dropdown-content) > li > a {
  transition: background-color 0.3s;
  color: var(--md-sys-color-on-surface);
  display: block;
  cursor: pointer;
}

 .navbar .brand-logo {
  color: var(--md-sys-color-on-surface);
  font-size: var(--appbar-title-font-size);
  display: inline-block;
  padding: 0;

.navbar .nav-title {
  display: inline-block;
  font-size: 32px;
  padding: 28px 0;
}

.navbar-fixed {
  position: fixed;
  z-index: 997;
}
