# OS or Editor folders
._*
.cache
.DS_Store
.idea
.vs
.vscode
.project
.projectile
.settings
.tmproj
*.esproj
*.sublime-project
*.sublime-workspace
nbproject
Thumbs.db

# Node logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

dist
dist/**/*.*
!dist/css/*.css
!dist/css/*.css.map
!dist/js/*.js
!dist/js/*.mjs
!dist/js/*.ts

# Ignore lock
yarn.lock
