// TypeScale
$md_sys_typescale_body-large_size: 16px;

// 1. Colors

@use "sass:math";

$primary-color: var(--primary-color) !default;
$primary-color-dark: var(--primary-color-dark) !default;
$primary-color-when-hovered-solid: var(--primary-color-raised-hover-solid) !default;
$primary-color-when-focused-solid: var(--primary-color-raised-focus-solid) !default;
$primary-color-font-emphasize-color: $primary-color !default;
$primary-color-font-medium-color: var(--primary-color-font-medium-color) !default;
$primary-color-font-disabled-color: var(--primary-color-font-disabled-color) !default;
$primary-color-hover-opaque: var(--primary-color-hover-opaque) !default;
$primary-color-focus-opaque: var(--primary-color-focus-opaque) !default;

$font-color-main: var(--md-sys-color-on-background) !default;
$font-color-medium: var(--font-color-medium) !default;
$font-color-disabled: var(--font-color-disabled) !default;

$font-on-primary-color-main: var(--font-on-primary-color-main) !default;
$font-on-primary-color-medium: var(--font-on-primary-color-medium) !default;
$font-on-primary-color-disabled: var(--font-on-primary-color-disabled) !default;
$font-on-secondary-color-main: var(--font-on-secondary-color-main) !default;

$secondary-color: var(--secondary-color) !default;
$secondary-color-when-hovered-solid: var(--secondary-color-hover-solid) !default;
$secondary-color-when-focused-solid: var(--secondary-color-focus-solid) !default;
$secondary-container-color: var(--secondary-container-color) !default;
$font-on-secondary-container-color: var(--font-on-secondary-container-color) !default;

$success-color: color("green", "base") !default;
$link-color: color("light-blue", "darken-1") !default;

$surface-color: var(--surface-color) !default;
$surface-hover-color-opaque: var(--hover-color) !default;
$surface-focus-color-opaque: var(--focus-color) !default;

// 3. Buttons
// Flat buttons
$button-flat-color: var(--font-color-medium) !default;
$button-flat-focus-background-color: var(--focus-color) !default;
// Floating buttons
$button-floating-background: $secondary-color !default;
$button-floating-background-hover: $secondary-color-when-hovered-solid !default;
$button-floating-background-focus: $secondary-color-when-focused-solid !default;
$button-floating-color: $font-on-secondary-color-main !default;
$button-floating-size: 40px !default;
$button-floating-radius: 16px !default;

// 5. Carousel
$carousel-height: 400px !default;
$carousel-item-height: $carousel-height * 0.5 !default;
$carousel-item-width: $carousel-item-height !default;
$carousel-indicator-color: var(--carousel-indicator-color) !default;
$carousel-indicator-color-active: var(--carousel-indicator-active-color) !default;

// 7. Date + Time Picker
$datepicker-display-font-size: 2.8rem;
$datepicker-calendar-header-color: $font-color-medium;
$datepicker-year: $font-on-primary-color-main !default;
$datepicker-day-focus: $primary-color-focus-opaque !default;
$datepicker-day-hover: $primary-color-hover-opaque !default;
$datepicker-day-font-color: $font-color-main !default;
$datepicker-day-font-color-disabled: $font-color-disabled !default;
$timepicker-clock-bg: $surface-color !default;
$timepicker-clock-color: var(--md-sys-color-on-background) !default;
$timepicker-clock-plate-bg: var(--background-color-level-4dp) !default;

// 8. Dropdown
$dropdown-hover-bg-color: $surface-hover-color-opaque !default;
$dropdown-focus-bg-color: $surface-focus-color-opaque !default;
$dropdown-item-height: 50px !default;

// 9. Forms
// Text Inputs + Textarea
$input-height: 3rem !default;
$input-border-color: var(--font-color-medium) !default;
$input-color: var(--md-sys-color-on-background) !default;
$input-border: 2px solid $input-border-color !default;
$input-error-color: var(--md-sys-color-error) !default;
$input-success-color: $success-color !default;
$input-focus-color: $primary-color !default;
$input-font-size: 16px !default;
$input-margin-bottom: 8px;
$input-margin: 0 0 $input-margin-bottom 0 !default;
$input-padding: 0 !default;
$label-font-size: .8rem !default;
$input-disabled-color: var(--font-color-disabled) !default;
$input-disabled-solid-color: var(--font-color-disabled) !default;
$input-disabled-border: 2px solid $input-disabled-color !default;
$input-invalid-border: 2px solid $input-error-color !default;
$input-icon-size: 2rem;
$placeholder-text-color: var(--font-color-medium) !default;
$textfield_disabled_containercolor: rgba(var(--md_sys_color_on-surface), 0.04);
$textfield_disabled_outlinecolor: rgba(var(--md_sys_color_on-surface), 0.12);
$textfield_disabled_color: rgba(var(--md_sys_color_on-surface), 0.38);

// Select
$select-border: 1px solid var(--md-sys-color-outline-variant) !default;
$select-background: $surface-color !default;
$select-focus: 1px solid $primary-color-when-focused-solid !default;
$select-option-hover: $surface-hover-color-opaque !default;
$select-option-focus: $surface-focus-color-opaque !default;
$select-option-selected: $surface-focus-color-opaque !default;
$select-padding: 5px !default;
$select-radius: 2px !default;
$select-disabled-color: var(--font-color-disabled) !default;
$select-input-color: var(--md-sys-color-on-background) !default;

// Switches
$switch-thumb-checked-color: $primary-color !default;
$switch-thumb-unchecked-color: var(--switch-thumb-off-color);
$switch-reaction-checked-focus-color: $primary-color-focus-opaque !default;
$switch-reaction-unchecked-focus-color: $surface-focus-color-opaque !default;
$switch-reaction-checked-hover-color: $primary-color-hover-opaque !default;
$switch-reaction-unchecked-hover-color: $surface-hover-color-opaque !default;
$switch-track-checked-bg: rgba(var(--primary-color-numeric), 0.32) !default;
$switch-track-unchecked-bg: var(--slider-track-color) !default;
$switch-radius: 15px !default;

// 11. Global
// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600.99px !default;
$medium-screen: 992.99px !default;
$large-screen: 1200.99px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

// 12. Grid
$num-cols: 12 !default;

$gutter-width: 1.5rem !default;
$element-top-margin: math.div($gutter-width, 3) !default;
$element-bottom-margin: math.div($gutter-width*2, 3) !default;

// 13. Navigation Bar
$navbar-height: 64px !default;
$navbar-line-height: $navbar-height !default;
$navbar-height-mobile: 56px !default;
$navbar-line-height-mobile: $navbar-height-mobile !default;
$navbar-font-size: 1rem !default;
$navbar-font-color: $font-on-primary-color-main !default;
$navbar-bg-color-focus: $primary-color-when-focused-solid !default;
$navbar-bg-color-hover: $primary-color-when-hovered-solid !default;
$navbar-brand-font-size: 2.1rem !default;

// 15. Photo Slider
$slider-fullscreen-indicator-color: var(--carousel-indicator-color) !default;
$slider-fullscreen-indicator-color-active: var(--carousel-indicator-active-color) !default;

// 17. Tabs
$tabs-text-active-color: $primary-color-font-emphasize-color !default;
$tabs-text-inactive-color: $font-color-medium !default;
$tabs-text-disabled-color: $font-color-disabled !default;
$tabs-underline-color: $tabs-text-active-color !default;
$tabs-bg-color: $surface-color !default;

// 21. Typography
$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !default;
$text-color: var(--md-sys-color-on-background) !default;

// Header Styles
$h1-fontsize: 4.2rem !default;
$h2-fontsize: 3.56rem !default;
$h3-fontsize: 2.92rem !default;
$h4-fontsize: 2.28rem !default;
$h5-fontsize: 1.64rem !default;
$h6-fontsize: 1.15rem !default;

// 22. Footer
$footer-font-color: $font-on-primary-color-main !default;
$footer-bg-color: $primary-color !default;
$footer-copyright-font-color: var(--font-on-primary-color-dark-medium) !default;
$footer-copyright-bg-color: $primary-color-dark !default;

// 23. Flow Text
$range: $large-screen - $small-screen !default;
$intervals: 20 !default;
$interval-size: math.div($range, $intervals) !default;
